SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/backend?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

DEV_SEED_USERNAME=dev_admin
DEV_SEED_PASSWORD=password123
